<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>CV Craft | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Elsie:wght@400;900&family=Playball&family=Stardos+Stencil:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link type="text/css" rel="stylesheet" href="../css/navbar.css" />

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        a:link {
            color: black;
        }

        a:visited {
            color: black;
        }

        a:hover {
            color: gray;
        }

        a:active {
            color: blue;
        }
    </style>
</head>
<body>
    <header class="viewer-nav">
        <div class="viewer-nav-container">
            <div class="logo-container">
                <a class="logo-link" href="/">
                    <img class="logo-image" src="../img/logo-color.png" alt="cv-craft-logo">
                    <div class="logo-text">
                        <span class="logo-text-first-part">CV</span><span class="logo-text-second-part">Craft</span>
                    </div>
                </a>
            </div>
            <div class="menu-container">
                <a class="menu-option" href="/"><i class="fa-sharp fa-light fa-house"></i></a>
                <div class="menu-anon-options" sec:authorize="isAnonymous()">
                    <div class="menu-option-separator"></div>
                    <a class="menu-option" href="/login"><i class="fa-light fa-right-to-bracket"></i></a>
                    <div class="menu-option-separator"></div>
                    <a class="menu-option" href="/create"><i class="fa-light fa-user-pen"></i></a>
                </div>
                <div class="menu-auth-options" sec:authorize="isAuthenticated()">
                    <div class="menu-option-separator"></div>
                    <a class="menu-option" href="/edit"><i class="fa-light fa-pen-to-square"></i></a>
                    <div class="menu-option-separator"></div>
                    <a class="menu-option" href="/logout"><i class="fa-light fa-right-from-bracket"></i></a>
                </div>
            </div>
            <div class="user-container">
                <div class="user-wrapper">
                    <div class="user-wrapper-ext"></div>
                    <div class="user-text-wrapper" sec:authorize="isAuthenticated()">
                        <div class="user-text" sec:authentication="name"></div>
                    </div>
                    <img class="user-image" src="../resumes/profile-pic.png">
                </div>
            </div>
        </div>
    </header>

    <div class="w3-content" style="max-width:2000px;margin-top:48px">
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <img style="height: 256px; width: 256px;" src="../img/logo-color.png">
            <h2 class="w3-wide">CV Craft</h2>
            <p class="w3-opacity w3-center"><i>Get ready with your resume</i><span sec:authorize="isAuthenticated()">,
                <b sec:authentication="name"></b>
            </span></p>

            <ul class="w3-content" style="list-style-type:none; padding: 0;">
                <div sec:authorize="isAnonymous()">
                    <li>
                        <a href="/login" style="text-decoration:none">Login</a>
                    </li>

                    <li>
                        <a href="/create" style="text-decoration:none">Create New Account</a>
                    </li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li>
                        <a th:href="@{|~/view/${#authentication.name}|}" style="text-decoration:none">Show Latest Resume</a>
                    </li>
                    <li>
                        <a href="/edit" style="text-decoration:none">Edit Your Resume</a>
                    </li>
                    <li>
                        <a href="/logout" style="text-decoration:none">Logout</a>
                    </li>
                </div>
            </ul>
        </div>

        <div class="w3-black" id="tour">
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
                <h2 class="w3-wide w3-center">About Project</h2>
                <p class="w3-opacity w3-center"><i>Spring Boot Project</i></p>
                <p class="w3-opacity w3-center">Tools used : Thymeleaf, Spring Boot, Spring Security, JPA-Hibernate,
                    Postgresql</p>
                <br><br>
            </div>
        </div>
    </div>
</body>

</html>